################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FourSPM_WebService
/obj
/bin/Debug/net8.0
/.vs/ProjectEvaluation
